.numbers {
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count-up {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.heading {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .numbers {
    justify-content: space-around; /* Adjust the spacing for smaller screens */
  }
  
  .count-up {
    font-size: 18px; /* Adjust the font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .numbers {
    justify-content: space-evenly; /* Adjust the spacing for even smaller screens */
  }
  
  .count-up {
    font-size: 14px; /* Adjust the font size for even smaller screens */
  }
}
